/* line 2, ../sass/_questionDemo1.scss */
.headerDemo {
  background-color: red;
}

/* line 6, ../sass/_questionDemo1.scss */
.progress {
  margin: 0;
  background: blue;
}
/* line 10, ../sass/_questionDemo1.scss */
.progress .determinate {
  background-color: green;
}

/* line 14, ../sass/_questionDemo1.scss */
.footerDemo {
  background-color: red;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
}

/* line 4, ../sass/_global.scss */
img {
  width: 100%;
}

/* line 4, ../sass/rules.scss */
#rules body {
  height: 100vh;
  width: 100%;
}
/* line 10, ../sass/rules.scss */
#rules .content_rules {
  margin-top: 50px;
}
/* line 14, ../sass/rules.scss */
#rules .title_rules {
  margin-top: 60px;
}
/* line 20, ../sass/rules.scss */
#rules .rules {
  height: 100vh;
  margin-bottom: 0;
}
/* line 27, ../sass/rules.scss */
#rules p {
  font-size: x-large;
  line-height: 50px;
}
/* line 33, ../sass/rules.scss */
#rules .btn_begin {
  margin-top: 60px;
}

/* line 3, ../sass/_login.scss */
.row_login {
  background-color: grey;
  height: 90vh;
}

/* line 7, ../sass/_login.scss */
.logo {
  margin-top: 15px;
}
