{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<p>Thank for registration, please check your email for validate your account !</p>
    <a href="{{ path('fos_user_security_login') }}"><button class="btn">Back to login</button></a>
{% endblock %}