{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<p>Merci de votre inscription, vous allez recevoir un mail confirme le stp ok merci</p>
    <a href="{{ path('fos_user_security_login') }}"><button class="btn">Se connecter</button></a>
{% endblock %}