{% extends "base.html.twig" %}


{% block body %}
<p>Congratulation ! Your account is now validate !<br/>
    Connect you now !</p>
    <a href="{{ path('fos_user_security_login') }}"><button class="btn">Back to login</button></a>
{% endblock %}
