{% trans_default_domain 'FOSUserBundle' %}
    {% block body %}
        <div id="register">
            <div class="row form_register">
                <div class="col s10 offset-s1 form">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                    <div class="row btn_register">
                        <div class="col s12">
                            <button class="btn pulse" type="submit"  value="{{ 'registration.submit'|trans }}"
                                <i class="material-icons right">Register</i>
                            </button>
                        </div>
                    </div>
            {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}

