#adVideo
{

  .video-container
  {
    margin-top: 10px;
  }

  .cam
  {
    margin-bottom: 0;
  }

  .cam_container
  {
    margin-top: 10px;
    font-style: italic;
  }

  .row
  {
    margin-bottom: 0;
  }

  .indice,p
  {
    margin-bottom: 0;
  }

    .ind_100
    {
      margin-left: 30%;
    }

    .btn_next
    {
      margin-top: 20px;
    }

  }