$color1 : #0288d1;
$color2 : #039be5;
$color3 : #40c4ff;


img {
  width: 100%;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
.material-icons {
  font-size: 50px;
}
html {
  font-family: 'PT Serif Caption', serif;
}
.body_questions
{
  background-color: $color3;
  height:70vh;
}

