@import "global";
#q1
{
  .headerDemo
  {
    background-color: $color2;
  }

  .progress
  {
    margin: 0;
    background: #0277bd;

    .determinate
    {
      background-color: #01579b;
    }
  }
  .footerDemo {
    background-color: $color2;
    padding: 20px;
    width: 100%;
    bottom: 0;
    margin: 0;
  }

  h1{
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    text-align: left;
    color: white;
    text-shadow: 10px 5px 10px  black;
  }

  .radio {

    input[type="radio"] + label:before{
      border: 2px solid grey;
      background: transparent;
      transform: scale(2);

    }
    input[type="radio"]:checked + label:before{
      border: 2px solid transparent;
      background: white;
      transform: scale(2);

    }

    input[type="radio"]:checked + label:after{
      border: 2px solid black;
      background: $color1;
      transform: scale(2);

    }

    .required {
      color : black;
      font-size: 1.2em;
      margin : 20px;
    }
  }
  .body_questions {
    margin : 15px;
    overflow: scroll;
  }
}