@import "global";
#listad {
  .headerAd {
    background-color: $color1;
  }
  .adBox {
    background-color: $color2;
  }
  a {
    color: $color1;
  }
  .footerAd {
    background-color: $color2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }
}