#q5 {

  .choice_number {
    width: 50px;
    height: 50px;
    background-color: $color3;
    border: none;
    cursor: pointer;

  }
  .choice_number:focus {
    background-color: $color1;
    border: none;
    cursor: pointer;
  }
  .number_2, .number_3{
    margin-top: 5%;
  }

}