@import "global";
#q1 {

  .answer {
    background-color: $color3;
  }
  .answer:hover {
    background-color: red;

  }
  .button_choice {
    button:focus{
      background-color: $color1;
    }
    button:hover{
      background-color: yellow;
    }
    .btn {
        width: 100%;
      font-size: 0.8em;
    }
  }


  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
  }
  a {
    color: white;
  }

























}