#questionAd3
{
  .img
  {
    margin-bottom: 0;
  }
  .img_container
  {
    margin-top: 10px;
  }
  .row
  {
    margin-bottom: 0;
  }
  textarea
  {
    height: 150px;
    background-color: #6E6E6E;
    border-radius: 5px;
    font-size: large;
    color:white;
    text-align: left;

  }
  .btn_next
  {
    margin-top: 60px;
  }


}