@import "global";
#register
{
  html{
    font-size: large;

  }
  .btn_register
  {
    margin-top: 30px;
  }
  .form_register,p
  {
    margin-top: 60px;
    font-size: large;
    color: $color2;

  }
  .form{
    padding: 0;
  }
}