#rules
{

  body
  {
    height:100vh;
    width: 100%;
  }
  h2{
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
  }
  .content_rules
  {
    background-color: #0088CC;

    margin-top: 15px;
    margin-bottom: 20px;
  }
  .title_rules
  {
    margin-top: 20px;
  }

  .rules
  {
    height: 100vh;
    margin-bottom: 0;

  }

  p
  {
    font-size: medium;
    line-height: 30px;
    color: white;
  }

  .btn_begin
  {
    margin-top: 15%;
  }



}