{% extends 'base.html.twig' %}
{% block body %}

<div id="adVideo">
	
	<div class="row cam">
		<div class="col s10 offset-s1">
			<div class="z-depth-3">
				<div class="video-container">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/z9Oshuhw4jQ" ></iframe>
				</div>
			</div>
		</div>
	</div>
		<div class="row cam_container">
			<form class="col s10 offset-s1">
				<p class="range-field align center"> Moves the cursor to mark the video
					<input type="range" id="test" min="0" max="100" />
				</p>
			</form>
		</div>
	<div class="row indice align center">
		<div class="col s1 offset-s1 ind_0">
			<p>0</p>
		</div>
		<div class="col s2 offset-s3 ind_50">
			<p>50</p>
		</div>
		<div class="col s1 push-s3 ind_100">
			<p>100</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center align btn_next">
			<a href="{{ path('insead_questionAd1') }}">
				<button class="btn pulse" type="submit" name="action">Next
					<i class="material-icons right">send</i>
				</button>
			</a>
		</div>
	</div>
</div>
{% endblock %}

