{% extends 'base.html.twig' %}

{% block progress %}
{% endblock %}
{% block head %}
<div id="layout">
    <div class="row headerDemo">
        <div class="col s12 z-depth-3">
            <div class="col s12">
                <h1>About you</h1>
            </div>
        </div>
    </div>
    
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block footer %}
    <div class="row footerDemo z-depth-3">
        <div class="col s12 ">
            <div class="col s6 offset-s6 center-align">
                <button class="btn pulse">Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}