{% extends 'base.html.twig' %}

{% block body %}
<div id="listad">
    <div class="row headerAd">
        <div class="col s12 z-depth-3">
            <div class="col s12 adlist">
                <h1>Ad list</h1>
            </div>
        </div>
    </div>
    <div class="row row_adlist z-depth-5">
        <a href="{{ path('insead_adVideo') }}">
            <div class="col s12 m7">
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        <img src="http://vignette1.wikia.nocookie.net/logopedia/images/8/89/New_Doritos_Logo.png/revision/latest?cb=20130305015621">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>Doritos</h3>
                            <p>900 points</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('insead_adVideo') }}">
            <div class="col s12 m7">
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        <img src="https://vpf1.fr/nike.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>Nike</h3>
                            <p>500 points</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
        <a href="{{ path('insead_adVideo') }}">
            <div class="col s12 m7">
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        <img src="https://s-media-cache-ak0.pinimg.com/736x/60/ca/86/60ca86fdd1da54163e37e1f5ba1f2bd9.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>Beats</h3>
                            <p>1500 points</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('insead_adVideo') }}">
            <div class="col s12 m7">
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        <img src="http://www.okcowboy.net/wp-content/uploads/Starbucks_Corporation_Logo_2011.svg_.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>Starbucks</h3>
                            <p>300 points</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="row z-depth-5 footerAd">
        <div class="col s12">
            <div class="row">
                <div class="col s3 offset-s1 settings">
                    <i class="material-icons">settings</i>
                </div>
                <div class="col s4 offset-s4 z-depth-3 points">
                    <p>800</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}