{% extends 'base.html.twig' %}
{% block body %}
	
	<div id="questionAd3">
		
		<div class="row img">
			<div class="col s6 offset-s3 img_container">
				<div class="z-depth-3">
					<img class="responsive-img" src="http://lareclame.fr/wp-content/uploads/2017/03/doritos-top.jpg">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s8 offset-s2 center align">
				<h4>Over the last seven days, did you buy any Nike products?</h4>
			</div>
		</div>
		<div class="row textarea">
			<div class="col s8 offset-s2 left align text">
				<div class="z-depth-3">
					<textarea name="textarea">
                     ...
					</textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 center align btn_next">
				<a href="{{ path('insead_adList') }}">
					<button class="btn pulse" type="submit" name="action">Finish
						<i class="material-icons right">send</i>
					</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}