{% extends '@Insead/user/layout.html.twig' %}


{% block progress %}
<div id="q1">
    <div id="q2">
    <div class="progress">
        <div class="determinate" style="width: 40%"></div>
    </div>
    {% endblock %}
    {% block body %}
        <div class="row body_questions z-depth-3">
            <div class="col s12">
                <h2>{{ question }}</h2>
            </div>
            <div class="col s12">
                <form action="#">
                    <p class="range-field" >
                        $<output  id="output" for="rangeInput">15000</output> <!-- Just to display selected value -->
                    <div class="container">
                        <input type="range" min="0" max="100000" value="500" step="1" list="tickmarks" id="rangeInput" oninput="output.value = rangeInput.value">
                        <datalist id="tickmarks">
                            <option value="0 to 20">0</option>
                            <option>5000</option>
                            <option>10000</option>
                            <option>20000</option>
                            <option>30000</option>
                            <option>40000</option>
                            <option>50000</option>
                            <option>60000</option>
                            <option>70000</option>
                            <option>80000</option>
                            <option>90000</option>
                            <option>100000</option>
                        </datalist>
                    </div>
                    </p>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
    <div class="row footerDemo z-depth-3">
        <div class="col s4 offset-s1 center-align">
            <a href="{{ path('insead_questionDemo1') }}">
                <button class="btn">Return
                </button>
            </a>
        </div>
        <div class="col s4 offset-s1 center-align">
            <a href="{{ path('insead_questionDemo3') }}"><button class="btn pulse" type="submit" value="Next">Next</button></a>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}