{% extends '@Insead/user/layout.html.twig' %}


{% block progress %}
    <div class="progress">
        <div class="determinate" style="width: 40%"></div>
    </div>
{% endblock %}
{% block body %}
    <h1>Question 2</h1>
{% endblock %}