{% extends 'base.html.twig' %}
{% block body %}

<div id="questionAd1">
	<div class="row img">
		<div class="col s6 offset-s3 img_container">
			<div class="z-depth-3">
				<img class="responsive-img" src="http://www.kite-surf-maroc.com/upload/best_kiteboarding.jpeg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s8 offset-s2 center align">
			<h4>Are you more likely to buy this product?</h4>
		</div>
	</div>
	<div class="row check">
		<form action="#">
			<div class="col s2 col offset-s1 checkbox">
				<p>
					<input type="checkbox" id="test1" />
					<label for="test1">Strongly Not</label>
				</p>
			</div>
			<div class="col s2 checkbox">
				<p>
					<input type="checkbox" id="test2" />
					<label for="test2">Likely Not</label>
				</p>
			</div>
			<div class="col s2 checkbox">
				<p>
					<input type="checkbox" id="test3" />
					<label for="test3">No change</label>
				</p>
			</div>
			<div class="col s2 checkbox">
				<p>
					<input type="checkbox" id="test4" />
					<label for="test4">Likely Yes</label>
				</p>
			</div>
			<div class="col s2 checkbox">
				<p>
					<input type="checkbox" id="test5" />
					<label for="test5">Strongly Yes</label>
				</p>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col s12 center align btn_next">
			<a href="{{ path('insead_questionAd2') }}">
				<button class="btn pulse" type="submit" name="action">Next
					<i class="material-icons right">send</i>
				</button>
			</a>
		</div>
	</div>
</div>
{% endblock %}