{% extends '@Insead/user/layout.html.twig' %}


{% block progress %}
    <div class="progress">
        <div class="determinate" style="width: 40%"></div>
    </div>
{% endblock %}
{% block body %}
    <h1>Question 3</h1>
{% endblock %}

{% block footer %}
    <div class="row footerDemo z-depth-3">
        <div class="col s12 ">
            
            <div class="col s6 offset-s6 center-align">
                <a href="{{ path('insead_questionDemo4') }}">
                    <button class="btn pulse">Next
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}