{% extends '@Insead/user/layout.html.twig' %}


{% block progress %}
    <div class="progress">
        <div class="determinate" style="width: 20%"></div>
    </div>
{% endblock %}
{% block body %}
    <h1>{{ q1 }}</h1>
{% endblock %}